
﻿

    <!-- Sidebar Menu (Cart Menu) ------------------------------------------------>

    <!--Overlay-->
    <div class="sidebar_overlay"></div>
    <!-- End Sidebar Menu (Cart Menu) -------------------------------------------->

    <!-- Search Overlay Menu ----------------------------------------------------->


    <!-- End Search Overlay Menu ------------------------------------------------>

    <div class="site-wraper">
        <!--Topbar-->
        <%= render "/layouts/templates/top_bar" %>
        <!-- End Topbar -->

        <!--Header-->
        <%= render "/layouts/templates/header" %>
        <!-- End Header -->

        <!-- Intro -->
        <%= render "/layouts/templates/intro" %>
        <!-- End Intro -->

        <!-- Product -->
        <%= render "layouts/templates/products" %>
        <!-- End Product -->

        <!-- Social Banner -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col bg-sky follow-banner">
                        <p class="black">Follow us on <a href="http://facebook.com/" class="link">Facebook</a> and <a href="http://twitter.com/" class="link">Twitter</a> to recive updates on our latest offer!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Social Banner -->

        <!-- Shop By Categories -->
        <%= render "/layouts/templates/shop_by_cat" %>
        <!-- Shop By Categories -->

        <!-- Hot Deal -->
        <%= render "layouts/templates/hot_deal" %>
        <!-- End Hot Deal -->

        <!-- Blog Section -->
        <%= render "layouts/templates/bloc_section" %>
        <!-- End Blog Section -->

        <!-- Promo Text Banner -->
        <section class="promo">
            <div class="container">
                <div class="promo-box row">
                    <!--Item-->
                    <div class="col-md-4 mt-sm-2 promo-item">
                        <div class="icon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="info">
                            <h4>Free Shipping</h4>
                            <p>Free Shipping On Order Over $99.</p>
                        </div>
                    </div>

                    <!--Item-->
                    <div class="col-md-4 mt-sm-2 promo-item">
                        <div class="icon">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <div class="info">
                            <h4>Order Return</h4>
                            <p>Order Return Whithin 7 Days.</p>
                        </div>
                    </div>

                    <!--Item-->
                    <div class="col-md-4 mt-sm-2 promo-item">
                        <div class="icon">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="info">
                            <h4>Support 24/7</h4>
                            <p>Alway Online Care Customer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Promo Text Banner -->

        <!-- Info Text Box -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-md bg-sky">
                            <p class="small">Template for the best CMS like Wordpress and Joomla, e-commerce templates for WooCommerce, Shopify and more... A huge Library with top-quality themes and templates collections to save.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-md bg-sky">
                            <p class="small">Template for the best CMS like Wordpress and Joomla, e-commerce templates for WooCommerce, Shopify and more... A huge Library with top-quality themes and templates collections to save.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Info Text Box -->

        <!--Brand Logo-->
        <%= render "layouts/templates/brand_logo" %>
        <!--End Brand Logo-->

        <!-- Footer -->
        <%= render 'layouts/footer' %>
        <!-- End Footer -->
    </div>

    <!--Jquery libery-->
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <!--Jquery libery-->
    <script src="assets/js/plugins/jquery-ui.js" type="text/javascript"></script>
    <!--Modernizr-->
    <script src="assets/js/plugins/modernizr.js" type="text/javascript"></script>
    <!--Tether Tooltip Plugin-->
    <script src="assets/js/plugins/tether.min.js" type="text/javascript"></script>
    <!--Bootstrap Js-->
    <script src="assets/js/plugins/bootstrap.js" type="text/javascript"></script>
    <!--OWL Slider-->
    <script src="assets/js/plugins/owl.carousel.min.js" type="text/javascript"></script>
    <!--Slider Revolution Js File -->
    <script type="text/javascript" src="plugins/rev_slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="plugins/rev_slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="plugins/rev_slider/js/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="plugins/rev_slider/js/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="plugins/rev_slider/js/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="plugins/rev_slider/js/revolution.extension.layeranimation.min.js"></script>
    <!-- Plugins All js -->
    <script type="text/javascript" src="assets/js/plugins/plugins-all.js"></script>
    <!-- CountDown Clock Js File-->
    <script type="text/javascript" src="assets/js/plugins/jquery.downCount.js"></script>
    <!--Main Theme Js File -->
    <script src="assets/js/custom.js" type="text/javascript"></script>
