<section class="section-padding">
    <div class="container">
        <div class="row">
            <h3 class="page-title">Articles</h3>
        </div>
    </div>

    
    <div class="container">
        <div class="row">
          <% if  @items.empty? %>
            <p>Pas de produit à afficher</p>
          <% else @items.each do |item|%>
              <div class="product-item-4 owl-carousel owl-theme">
                  <div class="item">
                      <div class="product-item">
                          <div class="product-item-img">
                              <div class="product-item-img-wrap">
                                  <img src="/assets/cats/<%= item.image_url %>"  alt="mazel" />
                              </div>
                              <div class="product-button">
                                  <a href="#" rel="tooltip" data-placement="right" title="Ajouter au panier"><img src="/assets/product-img/shopping-cart.png" alt="" /></a>
                              </div>
                          </div>
                          <div class="product-item-content">
                              <a class="product-title" href="/items/<%= item.id%>"><%= item.title %></a>
                              <p class="product-description"><%= item.description %></p>
                              <div class="product-price"><del>$59.99</del>$ <%= item.price %></div>
                          </div>
                      </div>
                  </div>
              </div>
            <% end %>

          <% end %>


        </div>
    </div>



</section>
