<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>La chatte à la voisine</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- animate css -->
    <link href="/assets/css/plugins/animate.css" rel="stylesheet" type="text/css" />
    <!--Theme Css-->
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Slider Revolution Css Setting -->
    <link href="/assets/plugins/rev_slider/css/settings-ver.5.3.1.css" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false" %>

    <link href="https://fonts.googleapis.com/css?family=Lobster|Mina|Rammetto+One" rel="stylesheet">
    

</head>

  <body>
    <div class="site-wraper">
    <%= render "/layouts/templates/top_bar" %>
    <%= render "/layouts/templates/header" %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
        
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
    <%= render "layouts/templates/script" %>
  </body>
</html>
